<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Single Article View</title>
</head>
<body>

<!-- ###ARTICLE### begin -->
<div id="article">
	<h2 class="thread-title">###ARTICLE.title###</h2>

	<div class="article">
		<dl class="article-header">
			<dt>Subject:</dt>
			<dd>###ARTICLE.title###</dd>
			<dt>From:</dt>
			<dd>###ARTICLE.author###</dd>
			<dt>Date:</dt>
			<dd>###ARTICLE.created###</dd>
		</dl>

		<pre class="article-body">###FORMAT_ARTICLE_BODY:###ARTICLE.content######</pre>
	</div>
</div>
<!-- ###ARTICLE### end -->

</body>
</html>
